<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.carousel.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.theme.default.css" rel="stylesheet" />
    <link href="~/lib/lightbox/css/lightbox.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <!-- Header Start -->
    <div class="container-fluid ">
        <div class="row align-items-center">
            <!-- Logo section -->
            <div class="col-lg-3 bg-secondary d-none d-lg-block d-lg-flex">
                <a href="~/Home/index" class="navbar-brand m-0 p-0 d-flex align-items-center justify-content-center text-dark">
                    <img src="~/img/Royal Tjänst AB420.png" alt="Royal Tjänst AB Logo" style="max-width: 70%; height: auto;">
                </a>
            </div>
            <div class="col-lg-9">
                <div class="row bg-dark d-none d-lg-flex">
                    <div class="col-lg-7 text-left text-white">
                        <div class="h-100 d-inline-flex align-items-center border-right border-primary py-2 px-3">
                            <i class="fa fa-envelope text-primary mr-2"></i>
                            <small>Info@royaltjänst.com</small>
                        </div>
                        <div class="h-100 d-inline-flex align-items-center py-2 px-2">
                            <i class="fa fa-phone-alt text-primary mr-2"></i>
                            <small>+99999999</small>
                        </div>
                    </div>
                    <div class="col-lg-5 text-right">
                        <div class="d-inline-flex align-items-center pr-2">
                            <a class="text-primary p-2" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-primary p-2" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-primary p-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-primary p-2" href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="text-primary p-2" href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Navigation bar with larger font size -->
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Adjusted logo to show in mobile view as well -->
                    <a href="~/Home/index" class="navbar-brand d-lg-none d-flex align-items-center justify-content-center text-dark">
                        <img src="~/img/Royal Tjänst AB420.png" alt="Royal Tjänst AB Logo" style="max-width: 50%; height: auto;">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <ul class="navbar-nav mx-auto" style="font-size: 1.2rem;">
                            <!-- Increased font size -->
                            <li class="nav-item">
                                <a href="~/Home/index" class="nav-item nav-link" style="padding: 10px 20px;">HEM</a> <!-- Increased padding -->
                            </li>
                            <li class="nav-item">
                                <a href="~/Home/Flyttfirma" class="nav-item nav-link" style="padding: 10px 20px;">FLYTTFIRMA</a> <!-- Increased padding -->
                            </li>
                            <li class="nav-item">
                                <a href="~/Home/FLYTTSTÄDNING"  class="nav-link" style="padding: 10px 20px;">FLYTTSTÄDNING</a> <!-- Increased padding -->
                          </li>
                            <li class="nav-item">
                                <a href="~/Home/Dödsbö" class="nav-item nav-link" style="padding: 10px 20px;">Dödsbö</a> <!-- Increased padding -->
                            </li>
                            <li class="nav-item">
                                <a href="~/Home/BortforslingAvSkräp " class="nav-link" style="padding: 10px 20px;">Bortforsling av skräp </a> <!-- Increased padding -->
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Header End -->
    <!-- Back to Top -->

    <a href="#" class="btn btn-primary px-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-semi-bold text-primary mb-4">Tjänster</h4>
                <ul class="list-unstyled">
                    <li><a href="~/Home/Flyttfirma" class="text-white">FLYTTFIRMA</a></li>
                    <li><a href="~/Home/FLYTTSTÄDNING" class="text-white">FLYTTSTÄDNING</a></li>
                    <li><a href="~/Home/BortforslingAvSkräp" class="text-white">BORTFORSLING AV SKRÄP</a></li>
                    <li><a href="~/Home/Dödsbö" class="text-white">DÖDSBO</a></li>
                   @*  <li><a href="~/Home/Magasinering" class="text-white">MAGASINERING</a></li>
                    <li><a href="~/Home/Checklista" class="text-white">CHECKLISTA</a></li> *@
                    <li><a href="~/Home/Offert" class="text-white">OFFERT</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-semi-bold text-primary mb-4">Här finns vi</h4>
                <ul class="list-unstyled">
                    <li><a class="text-white" >FINSPÅNG</a></li>
                    <li><a class="text-white" >MOTALA</a></li>
                    <li><a class="text-white" >KOLMÅRDEN</a></li>
                    <li><a class="text-white" >NORRKÖPING</a></li>
                    <li><a class="text-white">LINKÖPING</a></li>
                    <li><a class="text-white" >SÖDERKÖPING</a></li>
                    <li><a class="text-white" >KATRINEHOLM</a></li>
                    <li><a class="text-white" href="~/Home/Cities">Mer..</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-semi-bold text-primary mb-4">Kontakt</h4>
                <p><i class="fa fa-envelope text-primary mr-2"></i>Info@royaltjänst.com</p>
                <p><i class="fa fa-phone-alt text-primary mr-2"></i>9999999999</p>
                <p class="text-muted">Våra telefontider är måndag-fredag 08.00-17.00 samt lördag-söndag 9.00-16.00.</p>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - royaltjänstflytt - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/lightbox/js/lightbox.js"></script>
    <script src="~/lib/isotope/js/isotope.pkgd.js"></script>
    <script src="~/js/main.js"></script>

    <script>
        $(document).ready(function () {
            // Get current URL path
            var path = window.location.pathname.toLowerCase();

            // Find the corresponding nav-link and add the active class
            $('.nav-link').each(function () {
                var href = $(this).attr('href').toLowerCase();
                if (path === href) {
                    $(this).addClass('active');
                }
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
