@{
    ViewData["Title"] = "Bortforsling av skräp";
}

<!-- Services Start -->
<div style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-contracts.webp) no-repeat center center; background-size: cover;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">
                    Bortforsling av skräp

                </h6>
                <h1 class="mb-4 section-title text-white">
                    Bortforsling av skräp

                </h1> <br />
                <p class="text-white">Royal Tjänst är ett välrenommerat företag med över 20 års erfarenhet inom bortforsling av skräp och avfallshantering. Med sitt fokus på kvalitet och kundnöjdhet har företaget etablerat sig som en pålitlig partner för både privatpersoner och företag som behöver hjälp med allt från enklare bortforsling till mer omfattande avfallshanteringsprojekt. Royal Tjänst erbjuder skräddarsydda lösningar för sina kunder, oavsett om det gäller enstaka uppdrag eller löpande serviceavtal.</p> <br />
                <p class="text-white">
                    Företaget har en bred kompetens inom miljömedveten avfallshantering och arbetar aktivt för att minska miljöpåverkan genom att återvinna och återanvända material där det är möjligt. Royal Tjänst tar ansvar för hela processen, från insamling till sortering och transport till godkända återvinningsstationer. Deras team av erfarna och professionella medarbetare ser till att varje uppdrag utförs effektivt, säkert och enligt gällande regler och föreskrifter.
                </p> <br />
                <p class="text-white">
                    Med sin långa erfarenhet och sitt engagemang för hållbarhet är Royal Tjänst en ledande aktör inom bortforslingsbranschen, och deras kundcentrerade arbetssätt har bidragit till att skapa långsiktiga relationer och hög kundlojalitet. Oavsett behov kan kunder lita på att Royal Tjänst levererar pålitlig och kvalitativ service.
                </p> <br />
                
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
<!-- CTA Section Start -->
<div class="container-fluid bg-service py-5">
    <div class="container py-5">
        <h1 class="mb-4 section-title text-white">Är du i behov av en ordentlig flyttfirma?</h1>
        <p  class="text-white">
            Vårt mål är att göra dig som kund så nöjd som möjligt!.
        </p><br />
        <p class="text-white">
            Vi på NumberOne Flytt & Städ är en seriös firma med kunden i fokus.

            Allt för att du ska känna dig trygg när du anlitar oss.

            Gör som alla våra andra kunder, boka online nu!
        </p>
        <a asp-Controller="Home" asp-Action="Cleaning" class="btn btn-primary ">Boka flyttstädning </a>
        <a asp-Controller="Home" asp-Action="Moving" class="btn btn-primary">Boka flytt  </a>
        <a asp-Controller="Home" asp-Action="Storage" class="btn btn-primary">Få KOSTNADSFRI OFFERT!</a>
    </div>
</div>
<!-- CTA Section End -->
<!-- Contact Form Section Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-end mb-4">

            <div class="row">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="contact-form">
                        <form>
                            <div class="form-row">
                                <div class="col-sm-6 control-group">
                                    <input type="text" class="form-control p-4" id="kvadratmeter" placeholder="Antal kvadratmeter" required="required" data-validation-required-message="Fältet är obligatoriskt" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="col-sm-6 control-group">
                                    <input type="email" class="form-control p-4" id="email" placeholder="Email" required="required" data-validation-required-message="Fältet är obligatoriskt" />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control p-4" id="telefonnummer" placeholder="Telefonnummer" required="required" data-validation-required-message="Fältet är obligatoriskt" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control p-4" id="stad" placeholder="Stad" required="required" data-validation-required-message="Fältet är obligatoriskt" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control p-4" id="beskrivning" rows="3" placeholder="Beskriv vad ni behöver hjälp med" required="required" data-validation-required-message="Fältet är obligatoriskt"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block py-3 px-5" type="submit">SKICKA</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5" style="min-height: 400px;">
                    <div class="position-relative h-100 rounded overflow-hidden">
                        <iframe style="width: 100%; height: 100%; object-fit: cover;"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Form Section End -->
   

