@{
    ViewData["Title"] = "Flyttfirma";
}

<!-- Services Start -->
<div class="container-fluid py-5" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/moving.jpg) no-repeat center center; background-size: cover;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">
                    FLYTTHJÄLP
                </h6>
                <h1 class="mb-4 section-title text-white">
                    Royal Tjänst – Professionell flyttservice med 20 års erfarenhet
                </h1> <br />
                <p class="text-white">Med två decennier av erfarenhet i ryggen är Royal Tjänst ett pålitligt och kunnigt flyttföretag som hjälper både privatpersoner och företag med smidiga och effektiva flyttar. Vår expertis täcker hela flyttprocessen, från packning och transport till montering och placering. Vi strävar alltid efter att ge våra kunder bästa möjliga service och säkerställa att deras tillhörigheter hanteras med största omsorg.</p> <br />
                <p class="text-white">
                    Oavsett om det handlar om en liten flytt inom stan eller en stor flytt mellan städer, har vi resurserna och erfarenheten för att göra processen så enkel och bekymmersfri som möjligt. Vårt professionella team arbetar snabbt och noggrant, med fokus på att uppfylla varje kunds unika behov. Låt Royal Tjänst ta hand om din flytt – vi gör det tryggt, säkert och med den kvalitet du förtjänar.
                </p> <br />                
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
            </div>
        </div>
    </div>
    <div class="container-fluid  py-5" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/moving.jpg) no-repeat center center; background-size: cover;">
        <div class="container py-5">
            <h1 class="mb-4 section-title text-white">Är du i behov av en ordentlig flyttfirma?</h1>
            <p class="text-white">Vi på royaltjänstflytt Flytt & Städ är en seriös firma med kunden i fokus.</p>

            <a asp-Controller="Home" asp-action="Storage" class="btn btn-primary" btn btn-primary mt-3 py-2 px-4"">Boka flyttstädning med </a>
            <a asp-Controller="Home" asp-action="Moving" class="btn btn-primary">Boka flytt med </a>
            <a asp-Controller="Home" asp-action="Cleaning" class="btn btn-primary">Få KOSTNADSFRI OFFERT!</a>
        </div>
    </div>
</div>
<!-- Services End -->
<!-- Contact Form Section Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-end mb-4">

            <div class="row">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="contact-form">
                        <form>
                            <div class="form-row">
                                <div class="col-sm-6 control-group">
                                    <input type="text" class="form-control p-4" id="kvadratmeter" placeholder="Antal kvadratmeter" required="required" data-validation-required-message="Fältet är obligatoriskt" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="col-sm-6 control-group">
                                    <input type="email" class="form-control p-4" id="email" placeholder="Email" required="required" data-validation-required-message="Fältet är obligatoriskt" />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control p-4" id="telefonnummer" placeholder="Telefonnummer" required="required" data-validation-required-message="Fältet är obligatoriskt" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control p-4" id="stad" placeholder="Stad" required="required" data-validation-required-message="Fältet är obligatoriskt" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control p-4" id="beskrivning" rows="3" placeholder="Beskriv vad ni behöver hjälp med" required="required" data-validation-required-message="Fältet är obligatoriskt"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block py-3 px-5" type="submit">SKICKA</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5" style="min-height: 400px;">
                    <div class="col-lg-5" style="min-height: 400px;">
                        <div class="position-relative h-100 rounded overflow-hidden">
                            <iframe style="width: 100%; height: 100%; object-fit: cover;"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1440213.8289928166!2d13.329578065038515!3d59.85856232649725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f77f1f2f09133%3A0xb6b6b648e71b90da!2sSweden!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Contact Form Section End -->
@*     <!-- Varför ska man städa Section Start -->
    <div class="container py-5">
        <h2 class="text-center mb-4">Varför ska man städa?</h2>
        <p class="text-center mb-5">Många tycker att det känns motigt att städa och skjuter gärna upp det. Hör av dig till oss och njut av att slippa ännu ett stressmoment i vardagen. Det finns många anledningar till varför städning är så viktigt och det spelar ingen roll om det handlar om inomhusmiljön i ett hem eller på ett kontor.</p>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5">
                <h5 class="font-weight-bold mb-2">Hälsa</h5>
                <p>När miljön inomhus är fräsch och ren så ökar det chanserna att du ska hålla dig frisk längre. Det är särskilt viktigt med städning ur allergisynpunkt eftersom noggrann städning eliminerar bakterier, mögel och pollen.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5">
                <h5 class="font-weight-bold mb-2">Välbefinnande</h5>
                <p>En bostad eller en arbetsplats blir mer trivsam om den är ren och fräsch. De allra flesta vantrivs med papperskorgar som svämmar över, kladdiga bord och skräpiga golvytor.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5">
                <h5 class="font-weight-bold mb-2">Ordning</h5>
                <p>Måste du leta så fort du behöver någonting? Har du ledsnat på det? Vi hjälper er organisera och är noggranna så att ni får bättre koll men framförallt - ordning och reda!</p>
            </div>
        </div>
    </div> *@
    <!-- Varför ska man städa Section End -->
    <!-- Pricing Section Start -->
    <div class="container mt-5">
        <h2 class="text-center mb-4">Våra fasta priser för flytt</h2>
        <p class="text-center mb-5">royaltjänstflytt flytt & städ erbjuder såväl privatpersoner som företag professionell flytthjälp till rimliga priser.</p>
        <div class="row">
            <!-- Pricing Card 1 -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="position-relative mb-4">
                    <img asp-Controller="Home" asp-action="Moving" class="img-fluid rounded w-100" src="~/img/your-image3.jpg" alt="Image">
                </div>
                <div class="bg-light rounded p-4">
                    <h5 class="font-weight-bold mb-2">Max 30 KVM</h5>
                    <p class="mb-4">Pris: 3.195 kr</p>
                    <a asp-Controller="Home" asp-action="Moving" class="btn btn-primary py-2">BOKA ONLINE  </a>
                </div>
            </div>
            <!-- Pricing Card 2 -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="position-relative mb-4">
                    <img asp-Controller="Home" asp-action="Moving" class="img-fluid rounded w-100" src="~/img/your-image3.jpg" alt="Image">
                </div>
                <div class="bg-light rounded p-4">
                    <h5 class="font-weight-bold mb-2">Max 40 KVM</h5>
                    <p class="mb-4">Pris: 3.500 kr</p>
                    <a asp-Controller="Home" asp-action="Moving" class="btn btn-primary py-2">BOKA ONLINE  </a>
                </div>
            </div>
            <!-- Pricing Card 3 -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="position-relative mb-4">
                    <img asp-Controller="Home" asp-action="Moving" class="img-fluid rounded w-100" src="~/img/your-image3.jpg" alt="Image">
                </div>
                <div class="bg-light rounded p-4">
                    <h5 class="font-weight-bold mb-2">Max 50 KVM</h5>
                    <p class="mb-4">Pris: 4.045 kr</p>
                    <a asp-Controller="Home" asp-action="Moving" class="btn btn-primary py-2">BOKA ONLINE  </a>
                </div>
            </div>
            <!-- Pricing Card 4 -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="position-relative mb-4">
                    <img asp-Controller="Home" asp-action="Moving" class="img-fluid rounded w-100" src="~/img/your-image3.jpg" alt="Image">
                </div>
                <div class="bg-light rounded p-4">
                    <h5 class="font-weight-bold mb-2">Max 60 KVM</h5>
                    <p class="mb-4">Pris: 4.245 kr</p>
                    <a asp-Controller="Home" asp-action="Moving" class="btn btn-primary py-2">BOKA ONLINE  </a>
                </div>
            </div>
            <!-- Pricing Card 5 -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="position-relative mb-4">
                    <img asp-Controller="Home" asp-action="Moving" class="img-fluid rounded w-100" src="~/img/your-image3.jpg" alt="Image">
                </div>
                <div class="bg-light rounded p-4">
                    <h5 class="font-weight-bold mb-2">Max 70 KVM</h5>
                    <p class="mb-4">Pris: 4.545 kr</p>
                    <a asp-Controller="Home" asp-action="Moving" class="btn btn-primary py-2">BOKA ONLINE  </a>
                </div>
            </div>
            <!-- Pricing Card 6 -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="position-relative mb-4">
                    <img asp-Controller="Home" asp-action="Moving" class="img-fluid rounded w-100" src="~/img/your-image3.jpg" alt="Image">
                </div>
                <div class="bg-light rounded p-4">
                    <h5 class="font-weight-bold mb-2">Max 80 KVM</h5>
                    <p class="mb-4">Pris: 4.945 kr</p>
                    <a asp-Controller="Home" asp-action="Moving" class="btn btn-primary py-2">BOKA ONLINE  </a>
                </div>
            </div>
            <!-- Pricing Card 7 -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="position-relative mb-4">
                    <img asp-Controller="Home" asp-action="Moving" class="img-fluid rounded w-100" src="~/img/your-image3.jpg" alt="Image">
                </div>
                <div class="bg-light rounded p-4">
                    <h5 class="font-weight-bold mb-2">Max 90 KVM</h5>
                    <p class="mb-4">Pris: 5.444 kr</p>
                    <a asp-Controller="Home" asp-action="Moving" class="btn btn-primary py-2">BOKA ONLINE  </a>
                </div>
            </div>
            <!-- Pricing Card 8 -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="position-relative mb-4">
                    <img asp-Controller="Home" asp-action="Moving" class="img-fluid rounded w-100" src="~/img/your-image3.jpg" alt="Image">
                </div>
                <div class="bg-light rounded p-4">
                    <h5 class="font-weight-bold mb-2">Max 100 KVM</h5>
                    <p class="mb-4">Pris: 5.745 kr</p>
                    <a asp-Controller="Home" asp-action="Moving" class="btn btn-primary py-2">BOKA ONLINE  </a>
                </div>
            </div>
            <!-- Pricing Card 9 -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="position-relative mb-4">
                    <img asp-Controller="Home" asp-action="Moving" class="img-fluid rounded w-100" src="~/img/your-image3.jpg" alt="Image">
                </div>
                <div class="bg-light rounded p-4">
                    <h5 class="font-weight-bold mb-2">Max 110 KVM</h5>
                    <p class="mb-4">Pris: 5.945 kr</p>
                    <a asp-Controller="Home" asp-action="Moving" class="btn btn-primary py-2">BOKA ONLINE  </a>
                </div>
            </div>
            <!-- Pricing Card 10 -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="position-relative mb-4">
                    <img asp-Controller="Home" asp-action="Moving" class="img-fluid rounded w-100" src="~/img/your-image3.jpg" alt="Image">
                </div>
                <div class="bg-light rounded p-4">
                    <h5 class="font-weight-bold mb-2">Max 120 KVM</h5>
                    <p class="mb-4">Pris: 6.445 kr</p>
                    <a asp-Controller="Home" asp-action="Moving" class="btn btn-primary py-2">BOKA ONLINE  </a>
                </div>
            </div>
        </div>
    </div>


    <!-- CTA Section -->

</div>
</div>
<!-- Flyttfirma Content End -->
